@import url(https://fonts.googleapis.com/css?family=Roboto);
*{
  font-family: 'Roboto', sans-serif;
}
.body{

  position: relative;
}

#main {
  background-color: #f2f4f7;
}

.bulet{

  width:200px;
  display:block;
  border:3px solid #eee;
  border-radius:999em;
  margin: auto;

}
.thumbnail:hover{
  border:1px solid orange;
}

.thumbnail h3 {
  margin: 0;
}



.bg-section {
  display: table;
  width: 100%;
}

.bg-section > * {
  display: table-cell;
  padding: 5px;
}

/*
.row img{
    text-align: center;

  
    display: block;
    margin-left: auto;
    margin-right: auto;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    vertical-align: middle;
}*/

/*.row img:hover{

  z-index: 1;
  transform:scale(1.06);
    -ms-transform:scale(1.06); 
    -moz-transform:scale(1.06); 
    -webkit-transform:scale(1.06);
    -o-transform:scale(1.06); 

}
*/

#resumeProficiencies {
  float: left;
  clear: right;
 
  margin: 20px 0px 30px 30px;
}

#resumeProficienciesTop {
  float: left;
  clear: right;
  width: 100%;
  margin: -5px 0px 0px 0px;
  text-align: left;
  font-weight: 600;
}

#resumeProficienciesBottom {
  float: left;
  clear: right;
  width: 80%;
  margin: 2px 0px 0px 0px;
}

.progress {
  background:#e9e5e2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#e9e5e2));
  background-image: -webkit-linear-gradient(top, #dddddd, #e9e5e2);
  background-image: -moz-linear-gradient(top, #dddddd, #e9e5e2);
  background-image: -ms-linear-gradient(top, #dddddd, #e9e5e2);
  background-image: -o-linear-gradient(top, #dddddd, #e9e5e2);
  background-image: linear-gradient(top, #dddddd, #e9e5e2);  
  height:20px; 
  border-radius: 0px;
  -moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;   
  -webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;  
  box-shadow: 0 1px 0px #bbbbbb inset, 0 1px 0 #fcfcfc;   
}

.adobe, .html, .css, .jquery, .javascript, .bootstrap, .wordpress, .ui, .ux, .rwd, .mobile, .rapidproto {

 -webkit-transition: width 4.50s ease !important;
 -moz-transition: width 4.50s ease !important;
   -o-transition: width 4.50s ease !important;
      transition: width 4.50s ease !important;
 }
